@font-face {
    font-family: 'DOSGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'DOSGothic', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
  padding: 2rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8;
  color: #636363;
  background-color: #fefefe;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.8rem;
  }
}

a {
  color: #000000;
  text-decoration: none;
  margin: 0 0.5rem;
}

a:hover {
  text-decoration: underline;
  font-weight: 700;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #fff;
  padding: 0.5rem 0;
  font-size: 0.9rem;
}