
@font-face {
    font-family: 'DOSMyungjo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'DOSMyungjo', serif;
  font-weight: 400;
  margin: 0;
  padding: 2rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  color: #636363;
  background-color: #fefefe;
}

a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  margin: 0 0.5rem;
}

a:hover {
  text-decoration: underline;
  font-weight: 900;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #fff;
  padding: 0.5rem 0;
  font-size: 0.9rem;
}